/* By using the universal selector, this resets elements on the page and gives control to edit thr website´s style from scratch */
*
{
    color: rgb(40, 66, 119);
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

body
{
    background-color: blanchedalmond;
}
/* NAV BAR STARTS HERE */

nav
{
    box-sizing: border-box;
    margin: 1% 5% 1%;
    font-size: 1.2vw;
}

/* This will show which page is selected according to what is marked as span under nav in the html file */
nav span
{
    color: rgb(179, 43, 87);
    font-weight: bolder;
}

#main-menu ul
{
    /* Removes bullets from list */
    list-style: none;
    text-align: right;
}
#main-menu ul li
{
    display: inline;
    position: relative;
}

#main-menu ul li a
{
    font-weight: bold;
    /* Space between text and box */
    padding: 0.8vw;
    /* Removes underline and other decorations from link */
    text-decoration: none;
    /* Using inline "block" so the area around the font is also clickable */
    display: inline-block;
    border: 0.2vw solid rgb(40, 66, 119);
}

/* Box around nav bar sections colours change when mouse is over it, and also downsize */ 
#main-menu ul li a:hover
{
    border: 0.15vw solid rgb(179, 43, 87);
}

/* Makes sure line division image is occupying entire space inside Nav and does not surpass it */
nav img
{
    width: 100%;
}

/* FOOTER STARTS HERE */
footer
{
    margin-top: 2%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1vw;
    z-index: 10;
}

/* HOME PAGE CONTENTS START HERE */

.homeContainer
{
   /* border:2px solid darkslateblue;*/
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;
    height: 75vh;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 1%;
}

.homeContainer::-webkit-scrollbar
{
    display: none;
}
.main-banner
{
    /* Border just to phisically see limits of div */
    /*border: 2px solid #FF0000;*/
    /* This maintains the total size of the box regardless of changing the inside values */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    position: relative;
}

.main-banner img
{
    width: 50%;
}

.slogan-banner
{
    /* Border just to phisically see limits of div */
    /*border: 2px solid #FF0000;*/
    background-color:rgb(173, 199, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    position: relative;

}

#slogan
{
    /* Border just to phisically see limits of div */
    /*border: 2px solid #FF0000;*/
    /*width: 50%;
    height: 100%;*/
    box-sizing: border-box;
    display: flex;
    padding: 10%;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    font-size: 2vw;
}

#aurora-gif
{
    /* Border just to phisically see limits of div */
    /*border: 2px solid #FF0000;*/
    /*width: 50%;
    height: 100%;*/
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 35%;
}

#aurora-gif img
{
    width: 100%;
    height: 100%;
}

/* CONTACT PAGE STARTS HERE */
/* Container with all elements of the page*/
.contact
{
    /*border: 1px solid #FF0000;*/
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 1% 5% 1%;
    padding-right: 12%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    height: 75vh;
    background-image: url("images/album.png");
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Container that keeps polaroids on right side */
.social-links
{
    /*border: 1px solid #FF0000;*/
    box-sizing: border-box;
    width: 40%;
    height: 88%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    align-items: center;
    justify-content: center;
}

/* Conatiner around each polaroid*/
.polaroid-container
{
    /*border: 1px solid #FF0000;*/
    width: 35%;
    transition-duration: 0.5s;
}
.polaroid-container:hover
{
    width: 38%;
}

/* Images specifications */
.polaroids-img
{   
    width: 100%;
    transition-duration: 0.5s;
}

.polaroids-img:hover
{   
    box-shadow: 2px 2px 8px rgb(161, 161, 161);
}

/* Studio page content starts here */
/* to make the parallax effect work*/
/*Container that will have the images and text*/
/* This container is used on About, Studio and Awareness pages*/
.paContainer
{
    /*background-color: blanchedalmond;*/
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 75vh;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 1%;
    white-space: nowrap;
}

/* Parallax image container */
.paContainer2
{
    width: 60%;
    height: 75vh;
    display:inline-block;
    white-space: nowrap;

    background-image: url("images/Studio_Carolina.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Parallax image container */
.paContainer3
{
    width: 60%;
    height: 75vh;
    display:inline-block;
    white-space: nowrap;

    background-image: url("images/Studio_Ines.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-position-x 1s;
}

.paContainer4
{
    width: 60%;
    height: 75vh;
    display:inline-block;
    white-space: nowrap;

    background-image: url("images/Studio_Carlos.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-position-x 1s;
}

.paContainer5
{
    width: 60%;
    height: 75vh;
    display:inline-block;
    white-space: nowrap;

    background-image: url("images/Studio_Pedro.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-position-x 1s;
}


/* hide the scrollbar*/ 
.paContainer::-webkit-scrollbar
{
    display: none;
}

/* Where the text will be intregated */
.content 
{
    width: 50%;
    height: 75vh;
    box-sizing: border-box;
    background-color: blanchedalmond;
    display:inline-block;
    white-space: nowrap;
    position: relative; 
    vertical-align: top;

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2vw;
}

/* About page content starts here */
.paAbout
{
    width: 60%;
    height: 75vh;
    display:inline-block;
    white-space: nowrap;

    background-image: url("images/about1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.paAbout2
{
    width: 60%;
    height: 75vh;
    display:inline-block;
    white-space: nowrap;

    background-image: url("images/about_Aurora.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.paAbout3
{
    width: 60%;
    height: 75vh;
    display:inline-block;
    white-space: nowrap;

    background-image: url("images/about_Iris.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.paAbout4
{
    width: 60%;
    height: 75vh;
    display:inline-block;
    white-space: nowrap;

    background-image: url("images/about_Rosa.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Download button settings*/
.download
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Download image size */
.download img
{
    width: 20%;
    transition: 0.25s;
}

/* Download image gets bigger on hover */
.download img:hover
{
    width: 25%;
}

.paAwareness
{
    width: 60%;
    height: 75vh;
    display:inline-block;
    white-space: nowrap;

    background-image: url("images/awareness1.jpg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.paAwareness2
{
    width: 60%;
    height: 70vh;
    display:inline-block;
    white-space: nowrap;

    background-image: url("images/awareness2.jpg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.paAwareness3
{
    width: 60%;
    height: 70vh;
    display:inline-block;
    white-space: nowrap;

    background-image: url("images/awareness3.jpg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
